.page-info.hasOverly{:style => "background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url('./assets/bg4.jpg') center center fixed; background-size: cover;"}
  .bg-overly
    .container.text-center.section-promo
      .row
        .col-sm-4.col-xxs-12
          .iconbox-wrap
            .iconbox
              .iconbox-wrap-icon
                %i.icon.icon-docs
              .iconbox-wrap-content
                %h5
                  %span 2200
                .iconbox-wrap-text Artículos
            / /..iconbox
          / /.iconbox-wrap
        .col-sm-4.col-xxs-12
          .iconbox-wrap
            .iconbox
              .iconbox-wrap-icon
                %i.icon.icon-videocam
              .iconbox-wrap-content
                %h5
                  %span 100
                .iconbox-wrap-text Ejercicios
            / /..iconbox
          / /.iconbox-wrap
        .col-sm-4.col-xxs-12
          .iconbox-wrap
            .iconbox
              .iconbox-wrap-icon
                %i.icon.icon-users
              .iconbox-wrap-content
                %h5
                  %span 50,000
                .iconbox-wrap-text Usuarios
            / /..iconbox
          / /.iconbox-wrap
/ /.page-info
.page-bottom-info
  .page-bottom-info-inner
    .page-bottom-info-content.text-center
      %h1
        Si tienes alguna duda con respecto a las asesorías, talleres o seminarios; ¡escríbenos!
      %a.btn.btn-lg.btn-primary-dark{:href => "https://api.whatsapp.com/send?phone=573014263898", :target => "_blank"}
        %i.icon-mobile
        %span.hide-xs.color50 Escribe Ahora:
        +(57) 301 426 38 98
%footer.main-footer
  .footer-content
    .container
      .row
        .col-lg-3.col-md-3.col-sm-4.col-xs-12
          .footer-col
            %h4.footer-title Entrenamiento Diferencial
            %ul.list-unstyled.footer-nav
              %li
                %a{:href => "#"} Contáctenos
              %li
                %a{:href => "#"} Asesorías
              %li
                %a{:href => "#"} Sobre Nosotros
              %li
                %a{:href => "#"} Preguntas Frecuentes
              %li
                %a{:href => "#"} Términos y Condiciones
        .col-lg-5.col-md-4.col-sm-3.col-xs-6
          .footer-col
        .col-lg-4.col-md-5.col-sm-5.col-xs-12
          .footer-col.row
            .col-sm-12.col-xs-12.col-xxs-12.no-padding-lg
              .mobile-app-content
                %h4.footer-title Patrocinadores
                .row
                  .col-xs-12.col-sm-6
                    %a.app-icon{:href => "https://itunes.apple.com/", :target => "_blank"}
                      %span.hide-visually iOS app
                      %img{:alt => "Entrenamiento Diferencial", :src => "/assets/site/app_store_badge.svg"}
                  .col-xs-12.col-sm-6
                    %a.app-icon{:href => "https://play.google.com/store/", :target => "_blank"}
                      %span.hide-visually Android App
                      %img{:alt => "TuProte", :src => "/assets/site/google-play-badge.svg"}
                .col-sm-12.col-xs-12.col-xxs-12.no-padding-lg
                  .hero-subscribe
                    %h4.footer-title.no-margin Siguenos en
                    %ul.list-unstyled.list-inline.footer-nav.social-list-footer.social-list-color.footer-nav-inline
                      %li
                        %a.icon-color.yt{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Youtube"}
                          %i.fa.fa-youtube-play
                      %li
                        %a.icon-color.ig{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Instagramp"}
                          %i.fa.fa-instagram
                      %li
                        %a.icon-color.fb{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Facebook"}
                          %i.fa.fa-facebook
                      %li
                        %a.icon-color.tw{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Twitter"}
                          %i.fa.fa-twitter
        %div{:style => "clear: both"}
        .col-lg-12
          .text-center.paymanet-method-logo
            %img{:alt => "cejaramillof", :src => "images/site/payment/master_card.png"}
          .copy-info.text-center
            2018 Entrenamiento Diferencial. All Rights Reserved.
