.parallaxbox.about-parallax-bottom
  .container
    .row.text-center.featuredbox
      .col-xs-6.col-sm-3.xs-gap.dropdown
        .inner#drop1{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
          .icon-box-wrap
            %i.icon-smiley.ln-shadow-box.shape-5
          %h3.title-4 Motivación
          %p bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
        %ul#menu1.dropdown-menu.dropdown-center{"aria-labelledby" => "drop1"}
          - @categories.motivacion.each do |category|
            %li
              =link_to posts_path(category_id: category.id) do
                =category.name
          %li.divider{:role => "separator"}
          %li
            =link_to 'Motivación', posts_path(type: 'motivacion')
      .col-xs-6.col-sm-3.xs-gap.dropdown
        .inner#drop2{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
          .icon-box-wrap
            %i.icon-user-md.ln-shadow-box.shape-6
          %h3.title-4 Recuperación
          %p bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
        %ul#menu1.dropdown-menu.dropdown-center{"aria-labelledby" => "drop2"}
          - @categories.recuperacion.each do |category|
            %li
              =link_to posts_path(category_id: category.id) do
                =category.name
          %li.divider{:role => "separator"}
          %li
            =link_to 'Recuperación', posts_path(type: 'recuperacion')
      .col-xs-6.col-sm-3.xs-gap.dropdown
        .inner#drop3{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
          .icon-box-wrap
            %i.icon-food-1.ln-shadow-box.shape-8
          %h3.title-4 Nutrición
          %p bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
        %ul#menu1.dropdown-menu.dropdown-center{"aria-labelledby" => "drop3"}
          - @categories.nutricion.each do |category|
            %li
              =link_to posts_path(category_id: category.id) do
                =category.name
          %li.divider{:role => "separator"}
          %li
            =link_to 'Nutrición', posts_path(type: 'nutricion')
      .col-xs-6.col-sm-3.xs-gap.dropdown
        .inner#drop4{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
          .icon-box-wrap
            %i.icon-person.ln-shadow-box.shape-1
          %h3.title-4 Entrenamiento
          %p bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
        %ul#menu1.dropdown-menu.dropdown-center{"aria-labelledby" => "drop4"}
          - @categories.entrenamiento.each do |category|
            %li
              =link_to posts_path(category_id: category.id) do
                =category.name
          %li.divider{:role => "separator"}
          %li
            =link_to 'Entrenamiento', posts_path(type: 'entrenamiento')
