.parallaxbox.about-parallax-bottom
  .container
    .row.text-center.featuredbox
      .col-xs-6.col-sm-3.xs-gap.dropdown
        .inner#drop1{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
          .icon-box-wrap
            %i.icon-smiley.ln-shadow-box.shape-5
          %h3.title-4 Motivación
          %p bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
        %ul#menu1.dropdown-menu.dropdown-center{"aria-labelledby" => "drop1"}
          %li
            %a{:href => "#"} Action1
          %li
            %a{:href => "#"} Another action
          %li
            %a{:href => "#"} Something else here
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#"} Separated link
      .col-xs-6.col-sm-3.xs-gap.dropdown
        .inner#drop2{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
          .icon-box-wrap
            %i.icon-user-md.ln-shadow-box.shape-6
          %h3.title-4 Recuperación
          %p bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
        %ul#menu1.dropdown-menu.dropdown-center{"aria-labelledby" => "drop2"}
          %li
            %a{:href => "#"} Action2
          %li
            %a{:href => "#"} Another action
          %li
            %a{:href => "#"} Something else here
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#"} Separated link
      .col-xs-6.col-sm-3.xs-gap.dropdown
        .inner#drop3{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
          .icon-box-wrap
            %i.icon-food-1.ln-shadow-box.shape-8
          %h3.title-4 Nutrición
          %p bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
        %ul#menu1.dropdown-menu.dropdown-center{"aria-labelledby" => "drop3"}
          %li
            %a{:href => "#"} Action3
          %li
            %a{:href => "#"} Another action
          %li
            %a{:href => "#"} Something else here
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#"} Separated link
      .col-xs-6.col-sm-3.xs-gap.dropdown
        .inner#drop4{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
          .icon-box-wrap
            %i.icon-person.ln-shadow-box.shape-1
          %h3.title-4 Entrenamiento
          %p bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
        %ul#menu1.dropdown-menu.dropdown-center{"aria-labelledby" => "drop4"}
          %li
            %a{:href => "#"} Action4
          %li
            %a{:href => "#"} Another action
          %li
            %a{:href => "#"} Something else here
          %li.divider{:role => "separator"}
          %li
            %a{:href => "#"} Separated link
