.page-info.hasOverly{:style => "background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url('./assets/bg4.jpg') center center fixed; background-size: cover;"}
  .bg-overly
    .container.text-center.section-promo
      .row
        .col-sm-4.col-xxs-12
          .iconbox-wrap
            .iconbox
              .iconbox-wrap-icon
                %i.icon.icon-docs
              .iconbox-wrap-content
                %h5
                  %span 2200
                .iconbox-wrap-text Artículos
            / /..iconbox
          / /.iconbox-wrap
        .col-sm-4.col-xxs-12
          .iconbox-wrap
            .iconbox
              .iconbox-wrap-icon
                %i.icon.icon-videocam
              .iconbox-wrap-content
                %h5
                  %span 100
                .iconbox-wrap-text Ejercicios
            / /..iconbox
          / /.iconbox-wrap
        .col-sm-4.col-xxs-12
          .iconbox-wrap
            .iconbox
              .iconbox-wrap-icon
                %i.icon.icon-users
              .iconbox-wrap-content
                %h5
                  %span 50,000
                .iconbox-wrap-text Usuarios
            / /..iconbox
          / /.iconbox-wrap
