.page-bottom-info
  .page-bottom-info-inner
    .page-bottom-info-content.text-center
      %h1
        Si tienes alguna duda con respecto a las asesorías, talleres o seminarios; ¡escríbenos!
      %a.btn.btn-lg.btn-primary-dark{:href => "https://api.whatsapp.com/send?phone=573014263898", :target => "_blank"}
        %i.icon-mobile
        %span.hide-xs.color50 Escribe Ahora:
        +(57) 301 426 38 98
