= render 'partials/iconmenu'
.main-container{:style => "min-height: 0;"}
  .container
    .section-content
      .row
        .post-promo.text-center
          %h2 ¿Quieres conocer más sobre un ejercicio?
          %h5 Conoce más sobre la biomecanica de cada ejercicio.
          %a.btn.btn-lg.btn-border.btn-post.btn-danger{:href => "post-ads.html"} EJERCICIOS
    %br
    %br
    %div{:style => "clear: both"}
    .col-lg-12.content-box
      .row.row-featured
        .col-lg-12.box-title
          .inner
            %h2
              %span PRINCIPALES
              ASESORADOS
        %div{:style => "clear: both"}
        .relative.content.featured-list-row.clearfix
          %nav.slider-nav.has-white-bg.nav-narrow-svg
            %a.prev
              %span.nav-icon-wrap
            %a.next
              %span.nav-icon-wrap
          .no-margin.featured-list-slider
            .item.seller-info.seller-profile
              .row
                .col-md-12
                  %a{:href => "http://xd", target: '_blank'}
                    .seller-profile-img{:style => "margin-left: auto;margin-right: auto;float: none;"}
                      %img.img-responsive.thumbnail{:alt => "img", :src => "http://templatecycle.com/bootclassified/v4.2/dist/images/user.jpg"}/
                    .seller-social-list
                      %h3.no-margin.no-padding.link-color.uppercase Richard Aki
                      .text-muted
                        99.8% positive Feedback
= render 'partials/webstats'
= render 'partials/wppcontact'
