.main-container{:style => "min-height: 0;"}
  .container
    .section-content
      .col-sm-12.blogLeft
        .blog-post-wrapper
          .col-xs-12.col-sm-6.col-lg-4
            %article.blog-post-item
            .inner-box
              / blog content
              .blog-post-content-desc
                %span.info-row.blog-post-meta
                  %span.date
                    %i.icon-clock
                    Today 1:21 pm
                  \-
                  %span.author
                    %i.fa.fa-user
                    %a{:href => "#", :rel => "author", :title => "Posts by Jhon Doe"}
                      Jhon
                      Doe
                  \-
                  %span.item-location
                    %i.fa.fa-comments
                    Comments
                    %a{:href => "#"} 0
                .blog-post-content
                  %h2
                    %a{:href => "blog-details.html"} Curabitur pretium tincidunt lacus
                  %p
                    Sint, hic, et qui inventore ex perferendis sunt aliquam commodi nihil
                    vitae. Sint, hic, et qui inventore ex perferendis sunt aliquam.
                  .row
                    .col-md-12.clearfix.blog-post-bottom
                      %a.btn.btn-primary.pull-left{:href => "blog-details.html"}
                        More
                        info
          .col-xs-12.col-sm-6.col-lg-4
            %article.blog-post-item
            .inner-box
              / blog content
              .blog-post-content-desc
                %span.info-row.blog-post-meta
                  %span.date
                    %i.icon-clock
                    Today 1:21 pm
                  \-
                  %span.author
                    %i.fa.fa-user
                    %a{:href => "#", :rel => "author", :title => "Posts by Jhon Doe"}
                      Jhon
                      Doe
                  \-
                  %span.item-location
                    %i.fa.fa-comments
                    Comments
                    %a{:href => "#"} 0
                .blog-post-content
                  %h2
                    %a{:href => "blog-details.html"} Curabitur pretium tincidunt lacus
                  %p
                    Sint, hic, et qui inventore ex perferendis sunt aliquam commodi nihil
                    vitae. Sint, hic, et qui inventore ex perferendis sunt aliquam.
                  .row
                    .col-md-12.clearfix.blog-post-bottom
                      %a.btn.btn-primary.pull-left{:href => "blog-details.html"}
                        More
                        info
          .col-xs-12.col-sm-6.col-lg-4
            %article.blog-post-item
            .inner-box
              / blog content
              .blog-post-content-desc
                %span.info-row.blog-post-meta
                  %span.date
                    %i.icon-clock
                    Today 1:21 pm
                  \-
                  %span.author
                    %i.fa.fa-user
                    %a{:href => "#", :rel => "author", :title => "Posts by Jhon Doe"}
                      Jhon
                      Doe
                  \-
                  %span.item-location
                    %i.fa.fa-comments
                    Comments
                    %a{:href => "#"} 0
                .blog-post-content
                  %h2
                    %a{:href => "blog-details.html"} Curabitur pretium tincidunt lacus
                  %p
                    Sint, hic, et qui inventore ex perferendis sunt aliquam commodi nihil
                    vitae. Sint, hic, et qui inventore ex perferendis sunt aliquam.
                  .row
                    .col-md-12.clearfix.blog-post-bottom
                      %a.btn.btn-primary.pull-left{:href => "blog-details.html"}
                        More
                        info
          .col-xs-12.col-sm-6.col-lg-4
            %article.blog-post-item
            .inner-box
              / blog content
              .blog-post-content-desc
                %span.info-row.blog-post-meta
                  %span.date
                    %i.icon-clock
                    Today 1:21 pm
                  \-
                  %span.author
                    %i.fa.fa-user
                    %a{:href => "#", :rel => "author", :title => "Posts by Jhon Doe"}
                      Jhon
                      Doe
                  \-
                  %span.item-location
                    %i.fa.fa-comments
                    Comments
                    %a{:href => "#"} 0
                .blog-post-content
                  %h2
                    %a{:href => "blog-details.html"} Curabitur pretium tincidunt lacus
                  %p
                    Sint, hic, et qui inventore ex perferendis sunt aliquam commodi nihil
                    vitae. Sint, hic, et qui inventore ex perferendis sunt aliquam.
                  .row
                    .col-md-12.clearfix.blog-post-bottom
                      %a.btn.btn-primary.pull-left{:href => "blog-details.html"}
                        More
                        info
        / /.blog-post-wrapper
